= link_to "Sign #{isSignIn ? "in": "up"} with Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary", method: :post
= link_to "Sign #{isSignIn ? "in": "up"} with Github", user_github_omniauth_authorize_path, class: "btn btn-dark", method: :post