@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "toastr/build/toastr";

$appDarkColor: #2b3237;
$appRedColor: #dc3545;

body{
  background-color: $appDarkColor !important;
}

.lg-desktop{
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
}

#profileSettingButton:focus{
  box-shadow: none !important;
}

.ask-card{
  background: rgba(0,0,0,0.3);
  border-radius: 7px;
}

textarea.ask{
  max-height: 150px;
}

textarea.ask:focus{
  box-shadow: none !important;
}

.form-check-label{
  font-size: 13px;
}

.backgroundWrap {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  overflow: hidden;
  background-color: $appDarkColor;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -10;
}

.backgroundWrap.withImage img {
  width: 100%;
  min-height: 400px;
  object-fit: cover;
}

.backgroundWrap .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 30%, #2b3237);
}

.ask-username{
  font-size: 12px;
  font-weight: normal;
  padding: 5px 5px 5px 0px;
  color: $appRedColor;
}

.ask-time{
  font-size: 13px;
}

.ask-actions > i{
  color: #cdcdd9;
}

.ask-actions > .dropup > .btn > i{
  color: #cdcdd9;
}

.ask-actions > .dropup > .btn:focus{
  box-shadow: none !important;
}

.profile-counts > div > i{
  padding: 15px 15px 15px 15px;
  border-radius: 50px;
}

i.posts{
  background-color: #00aab8;
}

i.likes{
  background-color: $appRedColor;
}

i.friends{
  background-color: #784589;
  cursor: pointer;
}

.fs-13{
  font-size: 13px;
}

.color-grey{
  color: #cdcdd9;
}

.color-red{
  color: $appRedColor;
}

.red-link-hover:hover{
  color: $appRedColor;
}

.menu-icon:hover{
  color: $appRedColor;
}

.menu-icon{
  color: white;
}

.menu-icon:focus{
  box-shadow: none;
}

.bg-red{
  background-color: $appRedColor;
  color: white;
}

.bg-red > li > .dropdown-item:hover{
  background-color: #be0e36;
}

.profile-pic{
  border: 4px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.profile-pic:hover{
  border-color: $appRedColor;
}

.user-card{
  background-color: #00000045;
  border-radius: 40px;
}

.user-card > .text-center > .mt-2 > .text-white:hover{
  color: $appRedColor !important;
}

.friend-actions > a > i{
  padding: 5px 5px 5px 5px;
  font-size: 20px;
  border-radius: 50%;
}

.friend-actions > a > i.accept{
  color: green;
}

.friend-actions > a > i.accept:hover{
  background-color: lightgreen;
}

.friend-actions a > i.decline{
  color: red;
}

.friend-actions a > i.decline:hover{
  background-color: #ff00004f;
}

#change-pp-text{
  cursor: pointer;
}

#change-b-text{
  cursor: pointer;
}

.bg-red-w{
  background-color: $appRedColor;
  color: white;
}

.bg-red-w:hover{
  color: white;
}

#image-icon {
  cursor: pointer;
  color: grey;
  font-size: xx-large;
}

i.liked{
  color: red !important;
}

i.unliked{
  color: #cdcdd9;
}

.profile-right-button{
  padding: 0px;
  border-color: #ffffff00;
  background-color: #ffffff00;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .lg-desktop{
    padding: 0;
    font-size: 1rem;
    border-radius: .25rem;
  }

  .justify-content-evenly > .lg-desktop:first-child{
    margin-right: 0.3rem;
  }

  .justify-content-evenly > .lg-desktop:last-child {
    margin-left: 0.3rem;
  }
}